@font-face {
    font-family: "Quite Chocolatey"; /* Гарнитура шрифта */
    src: url("Quite Chocolatey.ttf"); /* Для остальных браузеров */
   }

body {
  margin: 0;
  font-family: sans-serif;


}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 1200px;
  height: 688px;
  background-image: url(http://www.picshare.ru/uploads/181027/udp5tS383N_thumb.jpg);
}

.top {
  height: 126px;
  display: flex;
  align-items: center;
  padding-left: 84px;
  padding-top: 38px;
  }
.top p {
padding-top: 38px;
width: 289px;
height: 94px;
color: #ffffff;
font-family: "Quite Chocolatey";
font-size: 88px;
font-weight: 400;
line-height: 32.38px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-left: 218px;
}

.menu li {
  margin-left: 20px;
 }

.menu a{
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}
.header-text {
  margin-left: 104px;
}
.header-text img {
margin-top: 132px;  
width: 483px;
height: 146px;
color: #130e27;
font-family: Montserrat;
font-size: 80px;
font-weight: 700;
line-height: 80px;
}
.header-text p{
  margin-top: 47px;
  width: 466px;
height: 75px;
color: #ffffff;
font-family: "PT Serif";
font-size: 20px;
font-weight: 400;
line-height: 28px;
}
.services {
  width: 1200px;
  height: 600px;
  
}
.top-services h1{
  width: 363px;
height: 37px;
color: #130e27;
font-family: Couture;
font-size: 45px;
font-weight: 700;
line-height: 80px;
  margin-top: 45px;
  margin-left: 70px;
}
.top-services h1 span {
  color: #c62314;
}
.menu-services {
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  
}
.menu-services p {
color: #161616;
font-family: "PT Serif";
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: center;
  
}
.menu-services a {
  text-decoration: none;
}
.submenu1 p {
margin-top: 45px;
width: 168px;
height: 43px;
}
.submenu2 p{
 margin-top: 51px;
  width: 165px;
height: 43px;
}

.submenu3 p {
  margin-top: 32px;
  width: 165px;
height: 47px;
}
.submenu4 p {
  margin-top: 32px;
  width: 162px;
height: 43px;
}
.bottom-service {
margin-top: 64px;
  height: 123px;
background-color: #130e27;
  display: flex;
  justify-content: space-around;
  align-items: center;
   
}
.bottom-service p {

  width: 601px;
height: 47px;
color: #ffffff;
font-family: "PT Serif";
font-size: 20px;
font-weight: 400;
line-height: 28px;
  
}
.bottom-service a {
  width: 269px;
height: 64px;
background-color: #c62314;
  color: #ffffff;
font-family: Montserrat;
font-size: 22px;
font-weight: 400;
line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.pricing {

  height: 537px;
background-color: #efefef;
}
.pricing h1 {
height: 37px;
color: #130e27;
font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 80px;
text-transform: uppercase;
text-align: center;
}
.stiker {
  display: flex;
  justify-content: space-around;
}
.starter {
 margin-top: 59px;
 padding-top: 35px;
 width: 318px;
height: 391px;
background-color: #ffffff;
  box-sizing: border-box;
  text-align: center;
  
}
.starter h3 {
height: 16px;
color: #161616;
font-family: "PT Serif";
font-size: 22px;
font-weight: 400;
line-height: 28px;
}
.starter h4 {
  padding-top: 41px;
  height: 42px;
color: #c62314;
font-family: Montserrat;
font-size: 60px;
font-weight: 700;
line-height: 80px;
text-transform: uppercase;
}
.starter p {
  width: 154px;
height: 121px;
color: #161616;
font-family: "PT Serif";
font-size: 20px;
font-weight: 400;
line-height: 28px;
  padding-top: 33px;
  padding-left: 79px;
}
.stiker-p2 a {
  margin-top: 18px;
height: 49px;
background-color: #130e27;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
    
}
.stiker-p3 a {
  margin-top: 18px;
height: 49px;
background-color: #c62314;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
    
}
.testimonial-gallery {
  margin-top: 138px;
  margin-left: 106px;
  box-sizing: border-box;
  width: 1146px;
height: 469px;
  display: flex;
  }
.testimonial {
   width: 465px;
  height: 400px;
  }
.testimonial h1 {
  padding-left: 60px;
  width: 341px;
height: 37px;
color: #130e27;
font-family: Montserrat;
font-size: 45px;
font-weight: 700;
line-height: 80px;
text-transform: uppercase;
}
.testimonial p {
  
  width: 336px;
height: 75px;
color: #161616;
font-family: "PT Serif";
font-size: 20px;
font-weight: 400;
line-height: 28px;
}
.testomonial-div1 {
  display: flex;
  padding-top: 60px;
  
}
.testomonial-div1 img {
  padding-left: 0px;
}
.testomonial-div1 h4 {
  width: 287px;
height: 19px;
color: #130e27;
font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 28px;
}
.testomonial-div2 {
  
  margin-top: 88px;
  display: flex;
  background-color: #efefef;
}
.testomonial-div2 p {
  width: 336px;
height: 47px;
color: #c62314;
font-family: "PT Serif";
font-size: 20px;
font-weight: 400;
line-height: 28px;
}
.testomonial-div2 img {

}

.gallery {
  width: 388px;
  height: 343px;
  margin-left: 145px;
}
.gallery  h1{
  color: red;
  padding-bottom: 66px;
}
.gallery-img2 {
  display: flex;
  justify-content: space-between;
}
.gallery-img3 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 46px;
  box-sizing: border-box;
}
.gallery a {
  width: 225px;
height: 19px;
color: #130e27;
font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-decoration: underline;
text-transform: uppercase;
  text-align: center;
}
.testimonial-text {
  width: 287px;
height: 19px;
color: #130e27;
font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 28px;
font-weight: bold;  
}
.pricing-bottom {
  margin-top: 119px;
  height: 150px;
  width: 1200px;
background-color: #130e27;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  
}
.pricing-bottom p {
  margin-left: 106px;
  width: 540px;
height: 19px;
color: #ffffff;
font-family: "PT Serif";
font-size: 20px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.4px;
}
.pricing-bottom_span1 {
  color: #c62314;
}
.pricing-bottom_div2 p {
padding-left: 100px;
  color: #c62314;
font-family: "Quite Chocolatey";
font-size: 64px;
font-weight: 400;
line-height: 23.6px;
/* Text style for "automotive" */
letter-spacing: -1.2px;
}

